* {
	font-family: arial, sans-serif;
}

body {
	
}

.hidden {
	display: none;
}

#body {
	margin: 0pt auto;
	width: 960px;
}

#header {
	border-bottom: 1px solid #000000;
	margin-bottom: 10px;
	position: relative;
}

#header a {
	color: #808080;
	display: block;
	font-size: 24px;
	padding: 5px 2px;
	text-decoration: none;
}

#header em {
	color: #000000;
	font-style: normal;
}

#header .user {
	position: absolute;
	right: 0;
	bottom: 8px;
}

h3 em {
	color: #808080;
	font-style: normal;
	font-weight: normal;
}

#alerts {
	position: relative;
}

#alerts .t-alert-container {
	background-color: #F8F8F8;
	border-radius: 8px 8px 8px 8px;
	border: 1px solid #A0A0A0;
	margin: 0pt 20px;
	padding: 6px 6px 16px;
}

#alerts .t-info,#alerts .t-warn,#alerts .t-error {
	padding: 3px 24px 3px 42px;
	position: relative;
}

#alerts .t-info {
	background: url("../images/information.png") no-repeat scroll 5px center
		#57B86A;
	border: 1px solid #008000;
}

#alerts .t-info .t-message-container {
	background-color: #B0E8BB;
	color: #044F13;
}

#alerts .t-warn {
	background: url("../images/exclamation.png") no-repeat scroll 5px center
		#F2CE53;
	border: 1px solid #DA7A00;
}

#alerts .t-warn .t-message-container {
	background-color: #FFFEC3;
	color: #000000;
	font-weight: normal;
}

#alerts .t-error {
	background: url("../images/cross-circle.png") no-repeat scroll 5px
		center #D06057;
	border: 1px solid #800000;
}

#alerts .t-error .t-message-container {
	background-color: #FFBDB8;
	color: #000000;
	font-weight: normal;
}

#alerts .t-message-container {
	min-height: 32px;
	padding: 2px 5px;
}

#alerts .t-dismiss {
	background: url("../images/cross.png") no-repeat scroll 0% 0%
		transparent;
	float: none;
	position: absolute;
	right: 3px;
}

#alerts .t-alert-controls {
	background: url("../images/cross.png") no-repeat scroll 2px center
		transparent;
	bottom: -4px;
	font-size: 12px;
	padding: 3px 6px 3px 20px;
	position: absolute;
	right: 24px;
}

#alerts .t-alert-controls a {
	color: #000000;
	text-decoration: none;
}

.clear {
	clear: both;
}

.field {
	padding: 12px;
	position: relative;
}

.field label {
	color: #000080;
	float: left;
	width: 150px;
}

.field input {
	width: 300px;
}

.field textarea {
	width: 700px;
}

.field p {
	color: #404080;
	font-size: 12px;
	margin: 3px 20px 2px 150px;
	padding: 0pt;
}

#files_outer {
	max-height: 180px;
	margin-left: 160px;
	overflow: auto;
	width: 525px;
}

#files {
	border-collapse: collapse;
	width: 500px;
}

#files th {
	border-bottom: 1px solid #A0A0A0;
	color: #808080;
	font-size: 14px;
	text-align: left;
}

#files td {
	border-bottom: 1px dotted #A0A0A0;
	padding: 6px 10px;
	text-align: left;
}

input.link {
	font-family: monospace;
	font-size: 18px;
	padding: 1px 12px;
	width: 250px;
}

input.link.direct {
	font-size: 16px;
	width: 500px;
}

input.code {
	font-family: monospace;
	font-size: 24px;
	padding: 1px 12px;
	width: 160px;
}

.advanced {
	border: 1px solid #E0E0E0;
	background-color: #F8F8F8;
	padding: 9px;
}

.advanced label {
	width: 141px;
	color: #606080;
}

.advanced p {
	margin-left: 141px;
}

.advanced h3 {
	margin: 0;
	color: #808080;
}

#vaults,#vaults ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#vaults .vault {
	border: 1px solid #A0A0A0;
	padding: 5px;
	background-color: #F0F0F0;
	margin-bottom: 5px;
}

.shelves {
	background-color: #FFFFFF;
	border: 1px solid #A0A0A0;
	padding: 5px;
}

.shelf {
	background-color: #FFFFFF;
	border-bottom: 1px dashed #A0A0A0;
	padding: 5px;
	margin: 0px 0 5px;
}

.shelf h4 {
	margin: 2px;
}

#enter h3 {
	margin: 0 0 0.5em 0;
}

#enter .direct,#enter .login {
	border: 1px solid #A0A0A0;
	float: left;
	width: 440px;
	margin: 0.6em;
	border-radius: 4px;
	padding: 5px;
}

#development {
	margin: 1em;
	border: 1px dotted #000080;
	padding: 1em;
}

.agreement {
	margin: 1em;
}

.agreement h4 {
	margin: 0.2em 0 0 0;
	padding: 0;
	color: #808080;
}

.agreement pre {
	border: 1px dotted #808080;
	padding: 0.5em;
	margin: 0.2em 0 0 0;
}